/.project
/.pydevproject
/ldm/*.log
**/.ipynb_checkpoints
**/*.bufr
**/*.eps
**/*.png
**/*.jpg
**/*.mp4
**/*.csv
**/*.cpg
**/*.xml
**/*.dbf
**/*.sbx
**/*.sbn
**/*.txt
**/*.shx
**/*.shp
**/*.wld
**/*.grib2
**/*.grib
**/*.docx
**/*.xlsx
**/*.nc
**/*.prj
/.vscode
**/*.json
google/transfer.py
spc/PTS*
spc/fixed/
/.vscode
/twitter/botdata
