/.project
/.pydevproject
/ldm/*.log
**/.ipynb_checkpoints
**/*.png
**/*.png
**/*.mp4
**/*.csv
**/*.cpg
**/*.xml
**/*.dbf
**/*.sbx
**/*.sbn
**/*.txt
**/*.shx
**/*.shp
**/*.wld
**/*.grib2
**/*.grib
**/*.docx
**/*.nc
**/*.prj
/.vscode
**/*.json
google/transfer.py
spc/PTS*
spc/fixed/
