/.project
/.pydevproject
/rabbitmq/*.last
/ldm/*.log
/wis2/downloads
**/.ipynb_checkpoints
**/*.bufr
**/*.eps
**/*.psv
**/*.png
**/*.jpg
**/*.mp4
**/*.csv
**/*.cpg
**/*.xml
**/*.dbf
**/*.sbx
**/*.sbn
**/*.txt
**/*.shx
**/*.shp
**/*.wld
**/*.grib2
**/*.grib
**/*.docx
**/*.xlsx
**/*.nc
**/*.prj
/.vscode
**/*.json
google/transfer.py
spc/PTS*
spc/fixed/
/.vscode
/twitter/botdata
